<h3 class="text-center">Payment Details</h3>
<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
  <div class="well">
    <h4 class="text-center payment-errors"></h4>
    <div class='form-group'>
        <label class="control-label" for="number">Card Number</label>
        <input type="text" style="margin: 0 auto; width: 16em;" size="20" data-stripe="number" placeholder="**** **** **** ****" pattern="[\d ]*"/>
    </div>

    <div class="form-group">
      <label class="control-label" for="cvc">CVC</label>
      <input type="text" style="margin: 0 auto; width: 3em;" size="3" data-stripe="cvc" id="cvc" placeholder="***" pattern="\d*"/>
      <%= image_tag("credit-card-icon.png", :size => "30x30", alt: "Credit Card Icon") %>
    </div>

    <div class="form-group">
      <label class="control-label">Exp (MM/YYYY)</label>
      <br/>
      <input type="text" size="2" id="exp-month" data-stripe="exp-month" placeholder="MM" pattern="\d*" style="width: 4em"/>
      <span> / </span>
      <input type="text" size="4" id="exp-year" data-stripe="exp-year" placeholder="YYYY" pattern="\d*" style="width: 8em"/>
    </div>

  </div>
</div>

