<div id="plan_div" class="col-xs-offset-1 col-xs-10 well">
  <h3 class="text-center">Plan</h3>
  <div class="form-group well col-sm-4">
    <label class="form-check-label">
      <input class="radio-inline" type="radio" name="user[plan]" id="planRadios1" value="starter" checked>

        <h4 class="text-center">Starter</h4>
        <ul>
          <li> FREE </li>
          <li> Trial usage of our tools </li>
          <li> Automated financial advice </li>
        </ul>

    </label>
  </div>
  <div class="form-group well col-sm-4">
    <label class="form-check-label">
      <input class="radio-inline" type="radio" name="user[plan]" id="planRadios2" value="premium">

        <h4 class="text-center">Premium</h4>
        <ul>
          <li> $100.00 + monthly consultation fees </li>
          <li> Unlimited use of all our software tools </li>
          <li> 90-day money-back guarantee </li>
          <li> Customized financial advice </li>
        </ul>

    </label>
  </div>
  <div class="form-group well col-sm-4">
    <label class="form-check-label">
      <input class="radio-inline" type="radio" name="user[plan]" id="planRadios3" value="gold">

        <h4 class="text-center">Gold</h4>
        <ul>
          <li> $200.00 + monthly consultation fees </li>
          <li> 90-day money-back guarantee </li>
          <li> Personalized financial advice </li>
        </ul>

    </label>
  </div>

</div>


